@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

.active {
  color: white;
  background-image: linear-gradient(to right, #632ee3, #9f62f2);
  padding: 7px;
  border-radius: 5%;
}

.bg-gradient {
  background-image: linear-gradient(to right, #632ee3, #9f62f2);
}
.gradient-text {
  background: -webkit-linear-gradient(#632ee3, #9f62f2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glassy {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.733),
    rgba(255, 166, 0, 0.808),
    yellow,
    rgba(0, 128, 0, 0.767),
    rgba(0, 0, 255, 0.664),
    indigo,
    violet
  );
  background-size: 200% 200%;
  animation: slideGradient 1s linear infinite alternate;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slideGradient {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 25% 50%;
  }
  100% {
    background-position: 100% 25%;
  }
}
