@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

.active {
  color: white;
  background-image: linear-gradient(to right, #632ee3, #9f62f2);
  padding: 7px;
  border-radius: 5%;
}
